.preview {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.body2 {
  margin-top: 72px;
  background-color: wheat;
  padding-top: 20px;
  padding-bottom: 50px;
}
.visitor {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.details {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.submit {
  width: 800px;
  height: 70px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre {
  color: rgb(70 145 242);
  font-size: 1.125rem;
  line-height: 1.75rem;
  /* margin-top: 0.5rem; */
  margin-left: 20px;
  padding-top: 20px;
}

.section {
  display: flex;
  margin-top: 20px;
}

.div1 {
  background-color: rgb(203, 216, 233);
  padding: 20px;
  margin: 20px;
  border-radius: 7px;
}
