.seca {
  width: 200px;
  height: 400px;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
}
.secb {
  width: 220px;
  height: 380px;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  border-radius: 10px;
}

.secc {
  width: 300px;
  height: 270px;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  padding: 20px;
  border-radius: 20px;
  line-height: 25px;
}

.div1 {
  background-color: rgb(174, 174, 172);
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.btn {
  background-color: green;
  color: white;
  padding: 15px 50px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}

.price {
  color: green;
  margin: 10px 0px;
}
